p {
    margin: 0;
    padding: 0;
}

input {
    width: 150px;
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

button {
    width: fit-content;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

button:active {
    background-color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

.dark_body {
    color: rgb(190, 190, 190);
    background-color: rgb(32, 32, 32);
}

.dark_body *:not(button) {
    color: rgb(190, 190, 190);
    background-color: rgb(32, 32, 32);
}

.dark_body button {
    background-color: rgb(190, 190, 190);
    border-color: transparent;
}

.dark_body button:active {
    background-color: darkgray;
}

#options_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;
}

#language_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#language_icon {
    width: 25px;
    height: 25px;
    justify-self: flex-end;
    filter: invert(0.1);
    background-color: transparent;
}

#language_icon:hover {
    cursor: pointer;
}

#language_selection {
    visibility: hidden;
    position: absolute;
    top: 35px;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
}

#language_selection p {
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#language_selection p:hover {
    cursor: pointer;
}

#language_selection p:not(:last-child) {
    border-bottom: 1px solid gray;
}

#language_selection p:first-child {
    border-top: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#language_selection p:last-child {
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#light_dark_container {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

#sun_icon {
    height: 16px;
    width: 16px;
    background-color: rgb(32, 32, 32);
}

#sun_icon div {
    height: 16px;
    width: 16px;
    background-color: rgb(32, 32, 32);
    transform: rotate(45deg);
}

#light_dark_toggle_container {
    z-index: 1;
    display: flex;
    padding: 3px;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
}

#light_dark_toggle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

#moon_icon {
    width: 23px;
    height: 20px;
    margin-left: -1px;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
}

#moon_icon div {
    margin-top: -2px;
    margin-left: -1.5px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
}

.column_div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

#std_dev_inputs, #rltv_err_inputs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: fit-content;
}

#std_dev_inputs > div, #rltv_err_inputs > div {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

#rltv_err_inputs > div > * {
    align-self: center;
}

.invalid_input::placeholder {
    color: crimson;
}

#deviation_copy_buttons_container, #rltv_err_copy_buttons_container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: fit-content;
}

.copy_result_button, .copy_latex_button {
    width: 100%;
}

.fraction_div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 3px;
}

.fraction_div hr {
    margin: 0;
    width: 100%;
    border: 0.5px solid black;
}
